<div class="container" style="height: 100vh; width: 100vh">
  <!-- <div class="vertical-center"> -->
  <h2 class="text-center">Ask a question</h2>

  <form action="/answer" placeholder="Question" class="form-inline text-center">
    <input type="text" name="query">
    <input type="submit">
  </form>
  <!-- </div> -->
</div>
